<template>
    <div class="main" >
<!--        <main-joke :joke="store.data"/>-->
<!--        <v-btn class="mx-auto my-2"-->
<!--                  style="display: flex; justify-content: center "-->
<!--                  @click="store.getJoke()"-->
<!--                  min-width="92"-->
<!--                  rounded-->
<!--                  variant="outlined">Regenerate</v-btn>-->
        <main-banner/>
        <main-welcome/>
        <main-gallery/>
        <main-map />
    </div>
</template>

<script>
import {computed} from "vue";
import { useMainStore } from '@/stores/index'
import MainBanner from "@/components/Banner.vue";
import MainWelcome from "@/components/Welcome.vue";
import MainGallery from "@/components/Gallery.vue";
import MainMap from "@/components/Map.vue";

export default {
    name: 'MainComponent',
    components: {MainMap, MainGallery, MainWelcome, MainBanner},
    props: {
    },

    setup() {
       const hello = computed(()=>'hello')

        const store = useMainStore()

        store.getMuseums()

        return {hello, store}
    }
}
</script>

<style >
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded/static/Unbounded-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: Unbounded;
}
.main {
    background: #edede9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
</style>
