<template>
    <div class="banner">
       <div class="title">
           ХисториХаб<br>Смоленск
       </div>

    </div>
</template>

<script>

export default {
    name: 'MainBanner',
    props: {
        joke: {
            default: null
        }
    },

    setup() {

        return {}
    }
}
</script>

<style scoped>
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded/static/Unbounded-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

.banner {
    background-image: url('~@/assets/123.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title {
    font-family: "Unbounded";
    color: #FFFFFF;
    display: flex;
    font-size: 133px;
    z-index: 2;
    text-align: center;
    line-height: 133px;
}
.image {
    position: absolute;
    left: 50%;
    bottom: 0;
    background-image: url('~@/assets/sticker.webp');
    width: 100%;
    height: 100%;

    z-index: 1;
}
</style>
