<template>
    <div class="gallery">
        <div class="title">
            Окунись в историю
        </div>
    <div class="wrapper">
        <div v-for="item in items" :key="item">
            <div :style="`background-image:url(${item.url})`" class="card"/>
        </div>

    </div>
    </div>
</template>

<script>

export default {
    name: 'MainGallery',
    setup() {

        const items = [
            {id: 1, url: 'https://img.geliophoto.com/smolensk/00_smolensk.jpg'},
            {id: 2, url: 'https://www.smolensk-museum.ru/files/379/p4110056_edit.jpg'},
            {id: 3, url: 'https://cdn2.tu-tu.ru/image/pagetree_node_data/1/42c0ff5e992d0fff645e985a886567cd/'},
            {
                id: 4,
                url: 'https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/0a/1b/71/caption.jpg?w=500&h=400&s=1'
            },
            {id: 5, url: 'https://my-perekrestok.ru/wp-content/uploads/2022/02/smolensk.jpg'},
            {id: 6, url: 'https://panevin.ru/uploads/photo/2016/sad_blone_1024.jpg'},
        ]
        return {items}
    }
}
</script>

<style scoped>
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded/static/Unbounded-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

.gallery {
    background: #edede9;
    width: 100%;
    max-width: 1200px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 60px;
}

.wrapper {
    width: 100%;
    background: #edede9;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    position: relative;
    gap: 20px;
}

.card {
    border-radius: 40px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 326px;
}
.title {
    font-family: "Unbounded";
    font-size: 48px;
    font-weight: bold;
    text-align: left;
}
</style>
