<template>
    <div class="map">
        <div class="wrapper">
            <div class="museums-slider">
                <div v-for="(museum, index) in museums" :key="index">
                    <v-btn class="museum-button" outlined
                           @click="onMuseumClick(museum.author_id)"
                           :style="museum.author_id === currentMuseumId ?'background: #e4e4e4':''">
                        {{ museum.name }}
                    </v-btn>
                </div>
            </div>
            <div class="timiline">
                <v-timeline direction="horizontal">
                    <v-timeline-item
                            v-for="(year, i) in years"
                            :key="i"
                            dot-color="cyan"
                            :size="currentYear===year? 'large':'small'"
                    >
                        <template v-slot:opposite>
                            <div
                                    @click="onMarkerChange(year)"
                                    class="pt-1 font-weight-bold link"
                                    v-text="year"
                                    :style="`font-size: ${currentYear===year? '30px':'18px'}`"
                            ></div>
                        </template>
                    </v-timeline-item>
                </v-timeline>
            </div>
            <div class="events-container">
                <div class="events-container-wrapper">
                    <v-card width="100%"
                            class="events-container-card"
                            elevation="20">
                        <v-carousel
                                hide-delimiters
                                class="events-container-carousel"
                                show-arrows="hover">
                            <v-carousel-item
                                    v-for="(img, i) in currentMarker?.images_url"
                                    :key="i"
                                    height="400"
                                    cover
                                    :src="img.url"
                            />
                        </v-carousel>
                        <v-card-title>
                            <div>
                                {{ currentMarker?.name }}
                            </div>
                            <div class="events-container-date">
                                {{ getDate(currentMarker?.history_dt) }}
                            </div>
                        </v-card-title>
                        <v-card-subtitle>
                            {{ currentMarker?.current_loaction }}
                        </v-card-subtitle>
                        <v-card-text>
                            {{ currentMarker?.description }}
                        </v-card-text>
                        <v-card-actions class="events-container-actions">
                            <div class="events-actions-wrapper">
                                <v-btn v-if="currentIndex !== 0" @click="changeSlide('left', currentIndex)">
                                    <v-icon>
                                        mdi-arrow-left
                                    </v-icon>
                                    К предыдущему
                                </v-btn>
                                <v-spacer/>
                                <v-btn v-if="store.markers?.length > 0 && (currentIndex !== store.markers.length - 1)"
                                       @click="changeSlide('right', currentIndex)">
                                    К следующему
                                    <v-icon>
                                        mdi-arrow-right
                                    </v-icon>
                                </v-btn>
                            </div>
                        </v-card-actions>
                    </v-card>
                </div>
                <YandexMap :coordinates="coordinates"
                           :zoom="7"
                           :detailed-controls="detailedControls"
                           :controls="controls">
                    <YandexMarker v-for="marker in currentMarkers"
                                  :coordinates="[marker.latitude, marker.longitude]"
                                  :key="marker.history_message_id" :marker-id="marker.history_message_id">
                        <template #component>
                            <CustomMarker @show="showInfo" :marker="marker"/>
                        </template>
                    </YandexMarker>
                </YandexMap>
            </div>
        </div>
    </div>
</template>

<script>

import {YandexMap, YandexMarker} from "vue-yandex-maps";
import CustomMarker from "@/components/Marker.vue";
import {computed, nextTick, onBeforeMount, onMounted, ref, unref, watch} from "vue";
import {useMainStore} from "@/stores";

export default {
    name: 'MainMap',
    components: {CustomMarker, YandexMarker, YandexMap},
    props: {},

    setup() {
        const store = useMainStore()

        const coordinates = [54.782635, 32.045283];
        const controls = ['fullscreenControl'];
        const detailedControls = {zoomControl: {position: {right: 10, top: 50}}};

        const currentMarker = ref(null)
        const currentMarkers = ref([])
        const currentYear = ref()
        const currentIndex = ref(0)
        const currentMuseumId = ref(1)

        const museums = computed(() => store.museums)

        const years = computed(() => {
            let years = [];
            console.log(store.markers)
            if (!unref(store.markers).length) return []
            unref(store.markers).map(marker => {
                if (!years.find(x => x === new Date(marker?.history_dt).getFullYear())) {
                    years.push(new Date(marker?.history_dt).getFullYear())
                }
            })
            return years
        })

        watch(currentMarker, (value) => {
            currentYear.value = new Date(value?.history_dt).getFullYear()
            currentMarkers.value = store.markers?.filter(x => new Date(x?.history_dt).getFullYear() === currentYear.value)
        })

        watch(() => store.markers, () => {
            console.log('tut')
            currentMarkers.value = store.markers?.filter(x => new Date(x?.history_dt).getFullYear() === unref(years)[0])
            currentYear.value = unref(years)[0] ?? null
            currentMarker.value = store.markers[0] ?? null
        })

        function onMarkerChange(year) {
            currentMarkers.value = store.markers?.filter(x => new Date(x?.history_dt).getFullYear() === year)
            currentYear.value = year
        }

        const showInfo = ({item}) => {
            currentMarker.value = item
            currentIndex.value = store.markers.indexOf(item)
        }
        const onMuseumClick = (id) => {
            store.getMarkers({id})
            currentMuseumId.value = id
        }

        function addLeadZero(val) {
            if (+val < 10) return '0' + val;
            return val;
        }

        const getDate = (hist_date) => {
            let date = new Date(hist_date)
            return [
                addLeadZero(date.getDate()),
                addLeadZero(date.getMonth() + 1),
                date.getFullYear()
            ].join('.');
        }
        const changeSlide = (direction, index) => {
            currentMarker.value = direction === 'right' ? store.markers[index + 1] : store.markers[index - 1]
            currentIndex.value = direction === 'right' ? index + 1 : index - 1
        }

        onBeforeMount(() => {
            store.getMarkers({id: 1})
        })

        onMounted(() => {
            nextTick(() => {
                currentMarkers.value = store?.markers?.filter(x => new Date(x?.history_dt).getFullYear() === unref(years)[0])
                currentYear.value = unref(years)[0] ?? null
                currentMarker.value = store?.markers[0] ?? null
            })
        })

        return {
            coordinates,
            controls,
            detailedControls,
            name,
            years,
            store,
            currentMarker,
            currentMarkers,
            currentYear,
            changeSlide,
            getDate,
            onMarkerChange,
            onMuseumClick,
            currentIndex,
            currentMuseumId,
            showInfo,
            museums,
        }
    }
}
</script>

<style>

.yandex-container {
    min-height: 200px;
    height: 648px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 13px -6px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 20px 31px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 8px 38px 7px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.v-card-subtitle,
.v-card-title {
    white-space: normal;
}

.yandex-balloon {
    min-height: 150px;
    width: 100%;
    height: 100%;
    min-width: 400px;
}

.link:hover {
    cursor: pointer;
    color: blue
}

.v-timeline--vertical.v-timeline {
    height: min-content;
}

.timiline {
    margin: 20px 50px 20px 50px;
    padding: 0px 20px;
//border: 1px solid grey; border-radius: 30px; height: 100%;
}

.active {
    background: aqua;
}

.map {
    width: 100%;
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.museums-slider {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.museum-button {
    background: #edede9;
    font-size: 20px;
    border-radius: 10px;
    height: 50px !important;  /* ужас */
}

.events-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: stretch;
    gap: 40px;
    padding: 0 40px
}

.events-container-wrapper {
    margin: 0px 50px 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center
}

.events-container-card {
    padding: 0;
    background: #edede9;
    overflow: auto;
    border-radius: 20px;
    height: 648px;
    position: relative;
    overflow: auto
}

.events-container-carousel {
    border-radius: 20px;
    height: 400px
}

.events-container-actions {
    position: sticky;
    bottom: 0px;
    z-index: 2;
    background: #edede9
}

.events-actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.events-container-date {
    font-size: 16px;
    font-style: italic;
    color: lightslategrey
}

.v-window {
    height: 400px !important; /* ужас */
}
</style>
