<template>
    <v-card class="marker-card-container" elevation="0">
        <v-card-title>
            {{ marker.name }}
        </v-card-title>
        <v-card-subtitle>
            {{ marker.current_loaction }}
        </v-card-subtitle>
        <v-card-actions>
            <v-btn @click="onMoreClick()">посмотреть больше</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>

export default {
    name: 'CustomMarker',
    props: {
        marker: {
            type: String,
            default: '',
        },
    },

    setup(props, {emit}) {
        const onMoreClick = () => {
            emit('show', {item: props.marker})
        }
        return {onMoreClick}
    }
}
</script>

<style>
.v-card-subtitle {
    white-space: normal;
}

.marker-card-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 16px;
}
</style>
