<template>
    <div class="welcome">
        <img src="@/assets/sticker.webp" class="image"/>
        <div>
            <div class="title">Привет!</div>
            <div class="subtitle">
                Познакомься с историей Города-Героя Смоленска с помощью интерактивного посещения музеев и исторических мест
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: 'MainWelcome',
    props: {
        joke: {
            default: null
        }
    },

    setup() {

        return {}
    }
}
</script>

<style scoped>
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded/static/Unbounded-Regular.ttf");
    font-style: normal;
    font-weight: bold;
    font-weight: normal;
}

.welcome {
    background: #edede9;
    width: 100%;
    max-width: 1200px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 40px;
}
.image {
    /*background-image: url('~@/assets/sticker.webp');*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 100%;
    border-radius: 100px;
    //box-shadow: inset 10px 5px 5px #edede9;
}
.title {
    font-family: "Unbounded";
    font-size: 48px;
    font-weight: bold;
    text-align: right;
}
.subtitle {
    font-family: "Unbounded";
    font-size: 20px;
    line-height: 1.5em;
    margin-top: 20px;
    text-align: right;
}
</style>
